@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    min-height: 100vh;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
/* scroll btn style */
.scroll_up_btn {
    position: fixed;
    height: 35px;
    width: 32px;
    font-size: 25px;
    background-color: crimson;
    right: 30px;
    bottom: 10px;
    line-height: 1.4;
    text-align: center;
    color: white;
    z-index: 99;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}
.scroll_up_btn:hover {
    background-color: rgb(155, 8, 37);
}
/* End scroll btn style */

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
.header {
    min-height: 8vh;
    transition: .3s ease background-color;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
.header_icon h1 {
    color: white;
    font-size: 4rem;
    padding: 5px;
    margin-bottom: 1rem;
}
.header_icon span {
    color: crimson;
}
.nav-list ul {
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow-x: hidden;
    transition: .5s ease left;
}
.nav-list ul.active {
    left: 0;
}
.nav-list ul a {
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding: 20px;
    display: block;
   
}
.nav-list ul a:hover {
    color: crimson;
}
.nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
.nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
.hamburger {
    z-index: 1000;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.7);
    margin-right: 20px;
    
}
.hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s infinite;
}
.hamburger .bar {
    height: 2px;
    width: 30px;
    background-color: white;
    position: relative;
    z-index: -1;
}
.hamburger .bar::after,
.hamburger .bar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
.hamburger .bar::after {
    top: 8px;
}
.hamburger .bar::before {
    bottom: 8px;
}
.hamburger.active .bar::after {
    top: 0;
}
.hamburger.active .bar::before {
    bottom: 0;
}
@media only screen and (min-width: 1000px) {
    .hamburger {
        display: none;
    }
    .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    .nav-list ul a::after {
        display: none;
    }
    .nav-list ul li {
        display: inline-block;
    }
    .nav-list ul li a {
        font-size: 1.8rem;
    }
}
/*End Header section */

/* hero styles */
#hero {
    background-image: url(./images/pexels-adrien-olichon-2387793.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
.hero_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    width: 100%;
    
}
.hero_info h1 {
    width: fit-content;
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: .1rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
.hero_info h1:nth-child(1){
    font-size: 1.1rem;
    line-height: 1;
    letter-spacing: .2rem;
    position: relative;
    margin-left: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    animation: text_reveal_1 .5s ease forwards;
    animation-delay: 1s;
}
.hero_info h1:nth-child(1)::before {
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background: crimson;
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 2px;
    animation: text_reveal_1 .5s ease forwards;
    animation-delay: 1s;
    transform: translateY(50%);
}
.hero_info h1:nth-child(2) {
    animation-delay: 2s;
}
.hero_info h1:nth-child(3) {
    animation-delay: 3s;
}
.hero_info h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
.hero_info h1:nth-child(1) span {
    animation-delay: .5s;
}
.hero_info h1:nth-child(2) span {
    animation-delay: 1.5s;
}
.hero_info h1:nth-child(3) span {
    animation-delay: 2.5s;
}
.hero_btn .btn{
    display:block;
    padding: 10px 20px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 300;
    transition: .3s ease;
    transition-property: background-color, color;
}
.hero_btn .btn:hover {
    color: whitesmoke;
    background-color: crimson;
}
@media only screen and (max-width:768px){
    .hero_wrapper{
        flex-direction: column;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: center;
    }
    .hero_btn{
        margin-top: 50px;
    }
    .hero_btn .btn{
        display: inline-block;
    }
}
/*End hero styles */

/* about styles */
#about {
    background-color: white;
}
.about_info {
    padding-top: 10rem;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 7rem;
}
.about_heading {
    color: crimson;
    line-height: 2;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    margin-top: 3rem;
}
.about_subheading {
    font-size: 2.5rem;
    color: rgb(65, 63, 63);
    margin-bottom: 1rem;
    font-family: 'Poppins';
}
.about_text{
    font-size: 1.6rem;
    font-family: 'Poppins';
    color: rgb(65, 63, 63);
    font-weight: 500; 
}
@media only screen and (max-width:768px){
    .about_subheading {
        font-size: 2rem;
    }
    .about_text{
        text-align: left;
        font-size: 1.5rem;
    }
}
.about_skills {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2rem;
    text-align: center;
    line-height: 1.3;
}
.skills_heading {
    color: rgb(65, 63, 63);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5;
} 
.skills_img {
    margin: 5rem 0 2rem 5rem;
    width: 80px;
    height: max-content;
}
.skills_img img {
    width: 100%;
    height: 100%;
}
.skills_heading h4 {
    text-transform: uppercase;
    font-family: 'Poppins';
    letter-spacing: .1rem;
    line-height: 1.5;
}
.skills_heading li {
    padding-top: .8rem;
    font-size: 1.5rem;
}
@media only screen and (max-width: 768px){
    .skills_heading li {
        font-size: 1.3rem;
    }
}
/*End about styles */

/* project styles */
#projects {
    background-color: whitesmoke;
}
.project_text {
    padding-top: 10rem;
    padding-bottom: 5rem;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
.project_heading {
    color: crimson;
    line-height: 2;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    margin-top: 5rem;
}
.project_subheading {
    font-size: 2.5rem;
    color: rgb(65, 63, 63);
    margin-bottom: 1rem;
    font-family: 'Poppins';
}
.project_text p {
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: rgb(65, 63, 63);
    font-weight: 500;
    margin-bottom: 3rem; 
}
.project_info_wrapper {
    display: flex;
    margin-bottom: 2rem;
}
.project_info {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    border-radius: 5px;
}
.project_topic {
    padding-left: 1rem;
    padding-right: 1rem;
}
.project_name {
    margin-bottom: 2rem;
    color: rgb(65, 63, 63);
}
.project_desc {
    opacity: .7;
    text-align: center;
}
.project_btn {
    display: inline-block;
    margin-bottom: 2rem;
    margin-right: .5rem;
    padding: 5px 20px;
    outline: none;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
    background-color: crimson;
    color: whitesmoke;
    border: 1px solid crimson;
    border-radius: 2px;
}
.project_btn:hover {
    color: crimson;
    background-color: transparent;
    font-weight: 600;
}

@media only screen and (max-width:768px){
    .project_subheading {
        font-size: 2rem;
    }
    .project_text p {
        font-size: 1.5rem;
    }
    .project_info_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project_info {
        margin-bottom: 3rem;
    }
}
/*End project styles */

/* contact styles */
#contact {
    text-align: center;
    margin: 0 auto;
    padding-top: 2rem;
    max-width: 800px;
}
.contact_title {
    color: crimson;
    line-height: 2;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    margin-top: 10rem;
}
.contact_items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.contact_item{
    width: 80%;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 13px 0 #0000002c;
    transition: .3s ease box-shadow;
}
.contact_item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon{
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 5px 10px;
}
.icon-1 {
    color: rgb(223, 210, 26);
    background-color: peachpuff;
    
}
.icon-2 {
    color: rgb(5, 51, 110);
    background-color: peachpuff;
}
.contact_info a{
    color: rgb(65, 63, 63);
}
.contact_info a:hover {
    color: crimson;
}
.contact_info h3 {
    font-size: 2rem;
    margin-bottom: 5px;
    color: rgb(65, 63, 63);
}
.contact_info h4 {
    line-height: 2rem;
    font-size: 1.5rem;
}
@media only screen and (max-width:768px){
    .contact_items {
        flex-direction: column;
    }
    #contact .icon {
        font-size: 25px;
    }
    .contact_info h3 {
        font-size: 1.6rem;
    }
    .contact_info h4 {
        font-size: 1.3rem;
    }
}
.contact_form {
    margin-top: 5rem;
}
.form_text h3 {
    font-size: 2rem;
    color: rgb(65, 63, 63);
    margin-bottom: 1rem;
    font-family: 'Poppins';
}
.form_text p {
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: rgb(65, 63, 63);
    font-weight: 500;
    margin-bottom: 3rem; 
}
.form_wrapper {
    padding: 3rem 0;
}
.form_wrapper form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.form_group label {
    font-size: 1.6rem;
    color:rgb(65, 63, 63);
    font-family: 'Poppins';
    display: flex;
}
.form_group input,
.form_group textarea {
    width: 100%;
    color: rgb(65, 63, 63);
    border: .1px solid crimson;
    font-size: 1.4rem;
    padding: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 0.5rem;
    background-color: whitesmoke;
    outline: none;
    font-weight: 500;
}
.form_group textarea {
    resize: vertical;
}
.form_wrapper button {
    width: max-content;
    border: 1px solid crimson;
    padding: 1rem 4rem;
    letter-spacing: 0.1rem;
    color: whitesmoke;
    background-color: crimson;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
.form_wrapper button:hover {
    background-color: whitesmoke;
    color: crimson;
    cursor: pointer;
}
@media only screen and (min-width:768px) {
    .form_text h3 {
        font-size: 2.5rem;
    }
    .form_wrapper {
        padding: 5rem 0;
    }
    .form_wrapper form  {
        grid-template-columns: 1fr 1fr;
    }
    .form_group_full {
        grid-column: 1/3;
    }
    .form_group label {
        font-size: 1.8rem;
    }
    .form_group input,
    .form_group textarea {
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }
}
/*End contact styles */

/* footer styles */
#footer {
    background-image: url(./images/pexels-adrien-olichon-2387793.jpg);
    height: 30vh;
    background-size: cover;
    background-position: top center;
    z-index: 1;
    margin-top: 5rem;
    position: relative;
}
#footer::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
.footer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.footer_icon h1 {
    color: white;
    font-size: 4rem;
    background-color: rgb(20, 20, 20);
    padding: 8px;
    margin-bottom: 2rem;
}
.footer_icon span {
    color: crimson;
}
.footer_socials {
    margin-top: 2rem;
    font-size: 3rem;
}
.footer_socials a {
    color: whitesmoke;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.footer_socials a:hover {
    background-color: blue;
    border-radius: 5px;
}
/*End footer styles */

/* keyframes */
@keyframes hamburger_pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: whitesmoke;

    }
}
@keyframes text_reveal_1 {
    100% {
        color: crimson;
    }
}
/*End keyframes */